/* CSS */ 

.h4 {
    font-size: 1.5rem;
    font-family: 'Segoe UI';
}

.row {
    margin-top: 1.5 rem;
}

.colorimg {
    background-color: gray;
}

.firsta {
    font-family: 'Times New Roman', Times, serif;
}

.uppernav {
    margin-bottom: 3rem;
}

.lrp {
    padding: 0 5rem 0 5rem;
}
